{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended",
		"plugin:import/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint", "react", "react-hooks", "prettier"],
	"rules": {
		"prettier/prettier": 1,
		"react/react-in-jsx-scope": 0,
	}
}
