{
	"printWidth": 120,
	"tabWidth": 2,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "none",
	"useTabs": true,
	"arrowParens": "always",
	"semi": false,
	"endOfLine": "auto"
}